NEXT_PUBLIC_DISCORD_WEBHOOK="" # Discord Webhook URL (https://discord.com/)
NEXT_PUBLIC_GITHUB_TOKEN="" # Github Token (https://github.com/)
NEXT_PUBLIC_CONTENTHOOK_API_KEY="" # ContentHook API Key (https://www.contenthook.dev/)