@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@keyframes hi  {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(15.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.hi {
  animation: hi 1.5s linear -0.5s infinite;
  display: inline-block;
  transform-origin: 70% 70%;
}

@media (prefers-reduced-motion) {
  .container {
    animation: none;
  }

  .hi {
    animation: none;
  }
}

.aboutAvatar {
  -webkit-perspective: 484px;
  perspective: 484px;
  -webkit-transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(-18deg) rotate(10deg) translateX(55px);
  transform: scale(1) perspective(1000px) rotateX(23deg) rotateY(-18deg) rotate(10deg) translateX(55px);
  transition: all 0.5s ease-in-out;
}

.aboutAvatar:hover {
  -webkit-transform: scale(1) perspective(1000px) rotateX(0deg) rotateY(0deg) rotate(0deg) translateX(50px);
  transform: scale(1) perspective(1000px) rotateX(0deg) rotateY(0deg) rotate(0deg) translateX(50px);
  transition: all 0.5s ease-in-out;
}

.project-card {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .75), #0a040b 40%, #0a040b 50%), var(--banner);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: .5s all;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c070e;
}

::-webkit-scrollbar-thumb {
  background: #0c070e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0c070e;
}

/* custom scrollbar */