@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(45deg, #f5f5f5 70%, #afcaff 100%);
    color: #000;
}

.dark body {
    background: linear-gradient(45deg, #050505 70%, #000e2b 100%);
    color: #fff;
}

* {
    font-family: 'Lexend Deca', sans-serif;
    cursor: auto !important;
}

.button {
    cursor: pointer !important;
}

.button-text {
    user-select: none
}

.weight-900 {
    font-weight: 900;
}

.weight-800 {
    font-weight: 800;
}

.weight-700 {
    font-weight: 700;
}

.weight-600 {
    font-weight: 600;
}

.weight-500 {
    font-weight: 500;
}

.weight-400 {
    font-weight: 400;
}

.weight-300 {
    font-weight: 300;
}

.weight-200 {
    font-weight: 200;
}

.weight-100 {
    font-weight: 100;
}

.padding {
    padding: 12px 15px;
}

.padding-2 {
    padding: 3px 5px;
}

.text-underline-2px {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: #0055ff;
    text-underline-offset: 0.6rem;
}

.text-padding {
    padding: 1 10rem;
}

.color-layout {
    --color: #;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    filter: blur(44px);
    opacity: 25%;
    z-index: -1;
    position: fixed;
}

.layout-blue {
    background: radial-gradient(at 150% 0%, #0055ff 0, transparent 50%);
}

.dnd {
    background-color: #f14668;
  }
  .idle {
    background-color: rgb(255, 166, 0);
  }
  .online {
    background-color: #1e9227;
  }
  .offline {
    background-color: #727272;
  }
